

<h2>Potin n°<%= params[:id]%></h2>

<h3>Auteur : <%= @potins.user.first_name%></h3>

<h4><%= @potins.content[1...-1] %></h4>
<%= link_to "Page de l'auteur", user_path(@potins.user.id)%>
<%= link_to "Ville de l'auteur", city_path(params[:id])%>

<% @potins.comments.each do |comment| %>


<h4>Commentaires</h4>
<p><%= comment.user.first_name%></p>
<p><small><%=comment.content%></small></p>
<a href="<%= edit_comment_path(comment.id)%>" class="btn btn-primary">Je veux éditer mon commentaire</a>
<% end %><br><br>
<h4>Ajouter un commentaire</h4>

<%= form_tag(potin_comments_path(@potins.id)) do -%>
                    <div><%= text_area_tag 'Comment_text', nil, placeholder: 'Raconte moi tout...', size: "40x4" %></div><br>
                    <div class='mt-auto'><%= submit_tag 'Commenter' %></div>
                <% end -%>

<p><%= link_to 'Supprimer le potin', potin_path, class:"btn btn-danger btn-md", role:"button", :data => {:confirm => "You sure?", :method => "delete"}%></p>