<!DOCTYPE html>
<html>
<head>
  <title>TheHackingPotin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
</head>

<body>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   
      
    <div class="d-flex collapse navbar-collapse navbar-dark bg-dark" id="navbar-color-01">
      <ul class="d-flex-inline-center navbar-nav mr-auto ">
        
        <%= link_to "Accueil", potins_path, class:"nav-item nav-link" %>
        
        <%= link_to "Besoin de nous contacter?", contact_path, class:"nav-item nav-link" %>
        
        <%= link_to "Envie de nous découvrir?", team_path, class:"nav-item nav-link"%>

        <%= link_to "Se connecter", connexion_index_path, class:"nav-item nav-link"%>

      
        
      </ul>
    </div>
  </nav><br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <%= yield %>
</body>
</html>
